
<div class="card">
  <div class="card-body">
    <h1 class="card-title"><img src="{{this.flag}}" alt="flag {{this.name}}" class="flag-title">
      {{this.name}}</h1>
    <p class="card-text"><span>Capital:</span> {{this.capital}}</p>
    <p class="card-text"><span>Population:</span> {{this.population}}</p>
    <p class="card-text"><span>Languages:</span> </p>
    <ul class="country__lang">
      {{#each this.languages}}
      <li class="lang__item">{{this.name}}</li>
      {{/each}}
    </ul>
  </div>
</div>